@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#main {
  text-align: center;
}

p {
  font-family: "Roboto", sans-serif;
}

button {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(252, 81, 81);
  border: none;
  text-align: center;
  border-radius: 20%;
  cursor: pointer;
}

button > img {
  padding: 5px;
  display: block;
}
