@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#main {
  text-align: center;
}

.navbar {
  z-index: -1;
  height: 100vh;
  background-color: rgb(61, 61, 61);
  display: flex;
  align-items: flex-end;
}

.nav-btns {
  text-align: center;
}

ul {
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: column;
}

li {
  margin-bottom: 5px;
}

li:nth-child(2) {
  margin-left: 10px;
}

li:nth-child(3) {
  margin-left: 20px;
}

li img {
  position: relative;
  top: 5px;
}

a {
  text-decoration: none;
  color: #fff;
  padding-left: 5px;
  margin-bottom: 2px;
  font-size: 14px;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.page {
  width: 40%;
  text-align: left;
}

p {
  font-family: "Roboto", sans-serif;
}

.circle {
  height: 50px;
  width: 50px;
  background-color: rgb(252, 81, 81);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

button {
  background-color: rgb(252, 81, 81);
  border: none;
  text-align: center;
  cursor: pointer;

  display: flex;
}

button > img {
  padding: 10px;
  display: block;
}
